# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Mac system files
.DS_Store

# Build folders
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm